.App {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: #0e0e0e;
  height: 150px;
  position: relative;
}
header h1 {
  color: white;
  width: 100%;
  padding-top: 10px;
  font-size: 35px;
}

.top{
  display:flex;
}

nav {
  display: flex;
  background-color: green;
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 10px;
  transition: all ease-in-out .4s;
}

.logo {
  display: flex;
  position: absolute;
}

.feature {
  width: 100%;
 
  background: #f0f2f4;
  text-align: left;
  padding-left: 0;
}

.blurred{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.divider {
  color: #3c8105;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.outside-controls {
  display: flex;
  background: #0e0e0e;
  padding-left: 20px;
}

.outside-controls p {
  border-bottom: 2px solid #3c8105;
  color: #fff;
  padding-bottom: 10px;
  font-size: 30px;
  margin-bottom: 0;
}

nav a:hover {
  background-color:black;

}


fieldset{
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding:0;
}

legend{
  padding: 0 10px;
}

.fields{
  display:flex;
}

.form-single{
  flex-grow:1;
}

.form-field-label{
  text-align: left;
  padding:0 5px 5px;
  color:#545556;
}

.form-field input {
  width: 85%;
  margin: auto;
  padding: 10px;
  border-radius:5px;
  border-style:none;
}

.form-field input:focus{
  outline : 2px solid #3c8105;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

form button {
  width: 230px;
  border-radius: 5px;
  background: #3c8105;
  color: white;
  height: 38px;
  margin: 10px 0;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}

.form {
  width: 100%;
  margin: auto;
}

.dynamic-input, .dynamic-input input{
  font-weight:700;
}


form button:hover {
  background: #ade6b5;
  color: #3c8105;
}

.recom-cards {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.recom-card-header{
  padding:15px;
}

.recom-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 49%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.recom-card-header {
  padding: 15px 15px 15px 5px;
  color: #544747;
  margin:auto;
}



.recom-card input {
  border: none;
  padding: 14px 3px;
  text-align: right;
  outline:none;
  color: transparent;
  text-shadow: 0 0 0 rgba(3, 27, 78, .7);
  
}


.recom-card-row {
  display: flex;
  width: 98%;
  margin: 0 5px ;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
}

.recom-card-row * {
  color: #58595a;
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ddd;
}

.columnHeader {
  display: flex;
  padding: 10px;
  background: #fff;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  color: #544747;
}


tbody td {
  color: darkgrey;
  text-align: center;
  padding: 10px;
}

th {
  font-weight: 600;
  min-width: 74px;
  padding: 12px 0;
  color: #5d5d5d;
  text-align: center;
}

tr td:first-child {
  color: #000000;
}

tr{
  border-top:1px solid #ccc;
}

.first, .second, .third{
  background: #ccc;
  padding: 20px;
  margin-top:20px;
}


.outside-controls button{
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #5d5d5d;
  border:none;
  background:#fff;
  font-size: 15px;
  outline:none;
  cursor:pointer;
}

.arrow::after {
  content: ">";
}

.around{
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
}

.logout-button{
  background-color: #3695f7;
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 10px;
  color: white;
}